
html{
  background-color: lightpink;
  font-family: 'Times New Roman', Times, serif;
}
.container-fluid{
  background-color: lightpink;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder; 
}
input[type="text"]{
  background-color: transparent;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  border: solid 1px black;
}

input[type="text"]:focus{
  background-color: transparent;
  color: black;
  
}

button{
  color: aliceblue;
  background-color: black;

}
.list-unstyled {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

@media only screen and (min-width : 1024px) {
  .container-fluid{
    flex-direction: row;
  }
}
